* {  box-sizing: border-box; } html { scroll-behavior: smooth; }

body{ 
  font-size:15px; 
  font-family:verdana;
  margin:0;
    } /* --End of Body -- */

/*-- HEADINGS ----------------------------------------------------------------------------------------------------------------------------------------------- */
  h1{font-size:28px;color:#073763;font-weight:normal;} h2{font-size:23px;color:#073763;font-weight:bold;} h3{font-size:20px;color:dimgray;font-weight:bold;} 

/*-- SUBTEXT  ----------------------------------------------------------------------------------------------------------------------------------------------- */
  sup{font-size:10px;font-style:normal;font-weight:normal;} a{cursor:pointer;text-decoration:underline;} a:hover{color:#07039D;}

/*-- CONTAINER ---------------------------------------------------------------------------------------------------------------------------------------------- */
  .container {margin:10px; margin-top:0; margin-bottom:15px; padding:10px; width:full; display:block;}
  .fullContainer {margin:0; padding:20px; width:full; display:block; margin-top:0; margin-bottom:15px;}
